test*.py
*.env
01-wow-agent/03Task/agent.log
01-wow-agent/04/config.yaml
*/metagpt
01-wow-agent/04/metagpt/*
01-wow-agent/04/config/config2.yaml
01-wow-agent/04/logs/
01-wow-agent/04/data/Trending repositories on GitHub today_files/
01-wow-agent/04/github-trending-slim.html
02-metaGPT/logs/
02-metaGPT/workspace/
*config2.yaml
*.gradio
05-Transformers/0A-ZATA/data
